<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vars.css">
    <link rel="stylesheet" href="home.css">
    <title>Star Wars Cave - Home</title>
</head>
<body>
    <header id="page-title" class="container">
        <div class="title-content">
            <h1>
                Star wars movies
            </h1>
            <div class="search-content">
                <input type="text" name="search-movie">
                <span class="search-placeholder">Search movies or characters</span>
                <img class="search-icon" src="../assets/search-icon.svg" alt="Buscar">
            </div>
        </div>
    </header>
    <section id="card-movies" class="container">
        <div class="title">
            <img src="../assets/star.svg" alt="Star">
            <h3>Movies</h3>
        </div>
        <div class="cards">
            <div class="card">
                <div class="card-image">
                    <img src="../assets/file-image.svg" alt="Character">
                </div>
                <div class="card-separator"></div>
                <div class="card-info">
                    <h2>
                        Character Character Character
                    </h2>
                    <p>
                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. 
                    </p>
                    <div class="card-footer">
                        <div>
                            <img src="../assets/chair-director-icon.svg" alt="Author">
                            <span>Nome</span>
                        </div>
                        <div>
                            <img src="../assets/calendar-icon.svg" alt="Author">
                            <span>Data</span>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../assets/file-image.svg" alt="Character">
                </div>
                <div class="card-separator"></div>
                <div class="card-info">
                    <h2>
                        Character
                    </h2>
                    <p>
                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </p>
                    <div class="card-footer">
                        <div>
                            <img src="../assets/chair-director-icon.svg" alt="Author">
                            <span>Nome</span>
                        </div>
                        <div>
                            <img src="../assets/calendar-icon.svg" alt="Author">
                            <span>Data</span>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../assets/file-image.svg" alt="Character">
                </div>
                <div class="card-separator"></div>
                <div class="card-info">
                    <h2>
                        Character a
                    </h2>
                    <p>
                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                    </p>
                    <div class="card-footer">
                        <div>
                            <img src="../assets/chair-director-icon.svg" alt="Author">
                            <span>Nome</span>
                        </div>
                        <div>
                            <img src="../assets/calendar-icon.svg" alt="Author">
                            <span>Data</span>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </section>
    <section id="characters" class="container">
        <div class="title">
            <img src="../assets/user-friends.svg" alt="Character">
            <h3>Characters</h3>
        </div>
        <div class="cards-characters">
            <div class="character">
                <img src="../assets/user-cicle.svg" alt="Character">
                <h2>
                    Character aaa
                </h2>
                <div class="character-footer">
                    <img src="../assets/map-marker-alt.svg" alt="mark">
                    <span class="city">Cidade</span>
                </div>
            </div>
            <div class="character">
                <img src="../assets/user-cicle.svg" alt="Character">
                <h2>
                    Character aaa
                </h2>
                <div class="character-footer">
                    <img src="../assets/map-marker-alt.svg" alt="mark">
                    <span class="city">Cidade</span>
                </div>
            </div>
            <div class="character">
                <img src="../assets/user-cicle.svg" alt="Character">
                <h2>
                    Character aaa
                </h2>
                <div class="character-footer">
                    <img src="../assets/map-marker-alt.svg" alt="mark">
                    <span class="city">Cidade</span>
                </div>
            </div>
            <div class="character">
                <img src="../assets/user-cicle.svg" alt="Character">
                <h2>
                    Character aaa
                </h2>
                <div class="character-footer">
                    <img src="../assets/map-marker-alt.svg" alt="mark">
                    <span class="city">Cidade</span>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

