<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="vars.css">
    <link rel="stylesheet" href="movie.css">
    <title>Star Wars Cave - Movies</title>
</head>
<body>
    <header id="page-title" class="container">
        <div class="title-content">
            <h1>
                A New Hopes
            </h1>
        </div>
    </header>
    <section id="section-description" class="container">
        <a href="#back"><< Back</a>
        <div class="description">
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
            </p>
        </div>
    </section>
    <section id="characters" class="container">
        <div class="title">
            <img src="../assets/user-friends.svg" alt="Character">
            <h3>Characters</h3>
        </div>
        <div class="cards-characters">
            <div class="character">
                <img src="../assets/user-cicle.svg" alt="Character">
                <h2>
                    Character aaa
                </h2>
                <div class="character-footer">
                    <img src="../assets/map-marker-alt.svg" alt="mark">
                    <span class="city">Cidade</span>
                </div>
            </div>
            <div class="character">
                <img src="../assets/user-cicle.svg" alt="Character">
                <h2>
                    Character aaa
                </h2>
                <div class="character-footer">
                    <img src="../assets/map-marker-alt.svg" alt="mark">
                    <span class="city">Cidade</span>
                </div>
            </div>
            <div class="character">
                <img src="../assets/user-cicle.svg" alt="Character">
                <h2>
                    Character aaa
                </h2>
                <div class="character-footer">
                    <img src="../assets/map-marker-alt.svg" alt="mark">
                    <span class="city">Cidade</span>
                </div>
            </div>
            <div class="character">
                <img src="../assets/user-cicle.svg" alt="Character">
                <h2>
                    Character aaa
                </h2>
                <div class="character-footer">
                    <img src="../assets/map-marker-alt.svg" alt="mark">
                    <span class="city">Cidade</span>
                </div>
            </div>
        </div>
    </section>
    <section id="reviews" class="container">
        <div class="review-box">
            <div class="title">
                <img src="../assets/comments.svg" alt="Character">
                <h3>Reviews</h3>
            </div>
            <form class="form-review">
                <input type="text" name="name" placeholder="Nome">
                <input type="text" name="email" placeholder="E-mail">
                <textarea name="comment" placeholder="Comentário"></textarea>
                <button type="submit">Enviar</button>
            </form>
            <div class="comments">
                <div class="comment">
                    <img src="../assets/user-avatar.svg" alt="Avatar">
                    <div class="review">
                        <p>
                            Caros amigos, a complexidade dos estudos efetuados facilita a criação dos procedimentos normalmente adotados. 
                            Por outro lado, a contínua expansão de nossa atividade promove a alavancagem dos paradigmas corporativos.
                        </p>
                        <div class="rate">
                            <span class="thumbs-down">
                                10
                                <img src="../assets/thumbs-down.svg" alt="thumbs-down">
                            </span>
                            <span class="thumbs-up">
                                10
                                <img src="../assets/thumbs-up.svg" alt="thumbs-up">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <img src="../assets/user-avatar.svg" alt="Avatar">
                    <div class="review">
                        <p>
                            Caros amigos, a complexidade dos estudos efetuados facilita a criação dos procedimentos normalmente adotados. 
                            Por outro lado, a contínua expansão de nossa atividade promove a alavancagem dos paradigmas corporativos.

                            Caros amigos, a complexidade dos estudos efetuados facilita a criação dos procedimentos normalmente adotados. 
                            Por outro lado, a contínua expansão de nossa atividade promove a alavancagem dos paradigmas corporativos.
                        </p>
                        <div class="rate">
                            <span class="thumbs-down">
                                10
                                <img src="../assets/thumbs-down.svg" alt="thumbs-down">
                            </span>
                            <span class="thumbs-up">
                                10
                                <img src="../assets/thumbs-up.svg" alt="thumbs-up">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <img src="../assets/user-avatar.svg" alt="Avatar">
                    <div class="review">
                        <p>
                            Caros amigos, a complexidade dos estudos efetuados facilita a criação dos procedimentos normalmente adotados. 
                            Por outro lado, a contínua expansão de nossa atividade promove a alavancagem dos paradigmas corporativos.
                        </p>
                        <div class="rate">
                            <span class="thumbs-down">
                                10
                                <img src="../assets/thumbs-down.svg" alt="thumbs-down">
                            </span>
                            <span class="thumbs-up">
                                10
                                <img src="../assets/thumbs-up.svg" alt="thumbs-up">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="comment">
                    <img src="../assets/user-avatar.svg" alt="Avatar">
                    <div class="review">
                        <p>
                            Caros amigos, a complexidade dos estudos efetuados facilita a criação dos procedimentos normalmente adotados. 
                            Por outro lado, a contínua expansão de nossa atividade promove a alavancagem dos paradigmas corporativos.
                            Caros amigos, a complexidade dos estudos efetuados facilita a criação dos procedimentos normalmente adotados. 
                            Por outro lado, a contínua expansão de nossa atividade promove a alavancagem dos paradigmas corporativos.
                        </p>
                        <div class="rate">
                            <span class="thumbs-down">
                                10
                                <img src="../assets/thumbs-down.svg" alt="thumbs-down">
                            </span>
                            <span class="thumbs-up">
                                10
                                <img src="../assets/thumbs-up.svg" alt="thumbs-up">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

